#mainNav {
  min-height: 56px;
  background-color: #161616; }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #FFB001;
    border: 1px solid #FFB001; }
    #mainNav .navbar-toggler:focus {
      outline: none; }
  #mainNav .navbar-brand {
    color: #ffffff;
    font-weight: 400;
    padding: .9rem 0; }
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent; }
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out; }
      #mainNav .navbar-brand {
        padding: .5rem 0;
        color: rgba(255, 255, 255, 0.5); }
        #mainNav .navbar-brand:hover {
          color: rgba(255, 255, 255, 0.75); }
        #mainNav .navbar-brand:active {
          color: white; }
      #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.5); }
        #mainNav .nav-link:hover {
          color: rgba(255, 255, 255, 0.75); }
        #mainNav .nav-link:active {
          color: white; }
      #mainNav.navbar-shrink {
        background-color: #161616; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #ffffff; }
          #mainNav.navbar-shrink .navbar-brand:hover {
            color: #FFB001; }
          #mainNav.navbar-shrink .navbar-brand:active {
            color: #b47c00; }
          #mainNav.navbar-shrink .navbar-brand.active {
            color: #FFB001;
            outline: none;
            border-bottom: 0.25rem solid #FFB001; }
        #mainNav.navbar-shrink .nav-link {
          color: #ffffff;
          padding: 1.5rem 1.5rem 1.25rem;
          border-bottom: 0.25rem solid transparent; }
          #mainNav.navbar-shrink .nav-link:hover {
            color: #FFB001; }
          #mainNav.navbar-shrink .nav-link:active {
            color: #b47c00; }
          #mainNav.navbar-shrink .nav-link.active {
            color: #FFB001;
            outline: none;
            border-bottom: 0.25rem solid #FFB001; } }

.masthead {
  position: relative;
  width: 100%;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/sunset-waikiki.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .masthead h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.5rem;
    letter-spacing: 0.5rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .masthead h2 {
    max-width: 20rem;
    font-size: 1rem; }
  @media (min-width: 768px) {
    .masthead h1 {
      margin-top: 7rem;
      font-size: 4rem;
      line-height: 4rem; } }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0; }
      .masthead h1 {
        font-size: 6.2rem;
        line-height: 6.9rem;
        letter-spacing: 0.8rem; }
      .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem; } }
  .masthead .masthead-title {
    font-family: 'Cinzel Decorative', cursive; }

.space-fill {
  background: #161616;
  min-height: 200px; }

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: .5px solid #ebebeb; }

.btn-primary {
  background-color: #FFB001; }
  .btn-primary:hover {
    background-color: #cd8d00; }
  .btn-primary:focus {
    background-color: #cd8d00;
    color: white; }
  .btn-primary:active {
    background-color: #b47c00 !important; }

.about-section {
  padding-top: 5rem;
  min-height: 100vh; }
  .about-section p {
    margin-bottom: 5rem; }

.experience-section {
  padding: 5rem 0;
  min-height: 100vh; }
  .experience-section .featured-text {
    padding: 2rem; }
    @media (min-width: 992px) {
      .experience-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #FFB001; } }
  .experience-section #accordion .bot-md-space {
    margin-bottom: 4rem; }
    @media (min-width: 992px) {
      .experience-section #accordion .bot-md-space {
        margin-bottom: 0; } }
  .experience-section .pointer {
    cursor: pointer; }
  .experience-section .exp-link:hover {
    color: #FFB001; }
  .experience-section .see-btn {
    box-shadow: 2px 4px 8px #dee2e6;
    border-radius: 5px; }

.education-section {
  padding: 5rem 0;
  min-height: 100vh; }

.skills-section {
  padding: 5rem 0;
  min-height: 100vh; }
  .skills-section .dev-icons {
    font-size: 3rem; }
    .skills-section .dev-icons .fa-html5:hover {
      color: #E44D26; }
    .skills-section .dev-icons .fa-css3-alt:hover {
      color: #3C99DC; }
    .skills-section .dev-icons .fa-js-square:hover {
      color: #F0DB4F; }
    .skills-section .dev-icons .fa-node-js:hover {
      color: #68A063; }
    .skills-section .dev-icons .fa-sass:hover {
      color: #CD6799; }
    .skills-section .dev-icons .fa-less:hover {
      color: #003A72; }
    .skills-section .dev-icons .fa-npm:hover {
      color: #CC3534; }
    .skills-section .dev-icons .fa-react {
      color: #adb5bd; }
    .skills-section .dev-icons .fa-react:hover {
      color: #61DBFB; }
    .skills-section .dev-icons .fa-gulp {
      color: #adb5bd; }
    .skills-section .dev-icons .fa-gulp:hover {
      color: #DB4446; }
    .skills-section .dev-icons .fa-grunt {
      color: #adb5bd; }
    .skills-section .dev-icons .fa-grunt:hover {
      color: #FBA91A; }

.interests-section {
  padding: 5rem 0;
  min-height: 100vh; }
  .interests-section i {
    font-size: 3rem;
    margin: 0 20px 20px 20px; }
  .interests-section i:hover {
    color: #FFB001; }
  .interests-section .btn {
    color: #FFB001; }
    .interests-section .btn:hover {
      background-color: #f8f9fa;
      color: #ffc034; }
    .interests-section .btn:focus {
      background: linear-gradient(#f8f9fa 50%, #e9ecef);
      color: #ffc034; }

.contact-section {
  padding: 5rem 0 0; }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #FFB001; }
    .contact-section .card h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round';
      text-transform: uppercase;
      letter-spacing: 0.15rem; }
    .contact-section .card hr {
      border-color: #FFB001;
      border-width: 0.25rem;
      width: 3rem; }
  .contact-section .social {
    margin-top: 5rem; }
    .contact-section .social a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: #7a7a7a;
      border-radius: 100%;
      line-height: 3rem;
      color: #ffffff;
      margin: 0px 5px; }
      .contact-section .social a:active {
        color: #ffffff; }
    .contact-section .social .linkedin-hov:hover {
      background: #0077B5; }
    .contact-section .social .github-hov:hover {
      background: #000; }
    .contact-section .social .twitter-hov:hover {
      background: #1DA1F2; }
    .contact-section .social .fb-hov:hover {
      background: #3C5A99; }

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.0625em; }

a {
  color: #FFB001; }
  a:focus, a:hover {
    text-decoration: underline;
    color: #9a6a00; }

.bg-black {
  background-color: #161616 !important; }

.bg-primary {
  background-color: #FFB001 !important; }

.text-primary {
  color: #FFB001 !important; }

.subheading {
  font-weight: 500;
  font-size: 1.2rem; }

.section-title {
  margin-bottom: 4rem; }

.flav-text {
  color: #7a7a7a; }

.strike-that {
  text-decoration: line-through; }

footer {
  padding: 5rem 0; }
