.skills-section {
    padding: 5rem 0;
    min-height: 100vh;
    .dev-icons {
        font-size: 3rem;
        .fa-html5:hover {
            color: $htmlLogo;
        }
        .fa-css3-alt:hover {
            color: $cssLogo;
        }
        .fa-js-square:hover {
            color: $javaLogo;
        }
        .fa-node-js:hover {
            color: $nodejsLogo;
        }
        .fa-sass:hover {
            color: $sassLogo;
        }
        .fa-less:hover {
            color: $lessLogo;
        }
        .fa-npm:hover {
            color: $npmLogo;
        }
        .fa-react {
            font-size: $smolr;
        }
        .fa-react:hover {
            color: $reactLogo;
        }
        .fa-gulp {
            font-size: $smolr;
        }
        .fa-gulp:hover {
            color: $gulpLogo;
        }
        .fa-grunt {
            font-size: $smolr;
        }
        .fa-grunt:hover {
            color: $gruntLogo;
        }
    }
}
